html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
background-image:url("https://wonderfulengineering.com/wp-content/uploads/2016/01/Mumbai-wallpaper-8.jpg");
background-size:cover;
}
.header{
padding:2px 25px 0px 25px;
background-image:url("https://media.tenor.com/images/c53bc7985bd46061567bfc9ea359d8d0/tenor.gif");
}
.head-logo{
text-align:center;
color:#fff;
}
.head-logo h1{
font-size:45px;
font-family:"homestead";
}
.head-logo h4{
font-size:30px;
font-family:"homestead";
}
.content {
    background-color:rgba(0, 0, 0, 0.4);
	color:white;
    padding: 20px;
	margin-top:50px;
	margin-left:300px;
	font-size:20px;
    width: 50%;
    height: 200px;
	text-align:center;
}





html {
  font-size: 62.5%;
}

.row {
    color: white;
  font-size: 20px;
  text-align: center;
  max-width: 114rem;
  background-color: #eee;
  position: relative;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 32rem;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 0rem;
}
.row .heading {
  font-family: Sans-serif;
  font-weight: 400;
  position: absolute;
  text-transform: uppercase;
  top: 38rem;
  padding: 1rem;
  letter-spacing: 2.2rem;
  font-size: 5rem;
  outline: 0.5rem solid rgba(0, 0, 0, 0.65);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.85);
}
.row .col-1-of-5 {
  width: calc((100% - (4 * 0rem))/5);
  height: 32rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 5px;
  transition: all .2s;
  top: 2rem;
}
.row .col-1-of-5.img-1 {
  background-image: url("https://travellingslacker.com/wp-content/uploads/2014/06/Ellora-16.jpg");
  position: absolute;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.85);
  left: 7rem;
  z-index: 1;
}
.row .col-1-of-5.img-2 {
  background-image: url("https://www.culturalindia.net/iliimages/Gateway-of-India-ili-46-img-1.jpg");
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.85);
  left: 26rem;
  z-index: 2;
}
.row .col-1-of-5.img-3 {
  background-image: url("https://d1j3wd17d78ehn.cloudfront.net/system/images/000/095/216/e10a076df28fef8aa589c8b22af871c1/original/canstockphoto4821019.jpg?1519396540");
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.85);
  left: 45rem;
  z-index: 3;
}
.row .col-1-of-5.img-4 {
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/01/45/fe/b4/juhu-beach.jpg");
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.85);
  right: 27rem;
  z-index: 2;
}
.row .col-1-of-5.img-5 {
  background-image: url("https://i.ytimg.com/vi/D1ZvfjvQp5s/hqdefault.jpg");
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.85);
  right: 7rem;
  z-index: 1;
}
.row .col-1-of-5:hover {
  transform: scale(1.05) translateY(-1rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.row:hover .col-1-of-5:not(:hover) {
  transform: scale(0.95);
}
